# App #
#######
config/*.js
configs/*.js
.github
databases/
tests/
docs/
logs/
build/
docker/
Dockerfile
Dockerfile.*
bot.js
loginpin.txt
.gitmodules
.jshintrc
.gitattributes
.eslintrc.json
.editorconfig
.pm2-process.json
.all-contributorsrc
.eslintcache
*.pem
*.crx